<!doctype html>
<html lang="en" xmlns:th= "http://www.thymeleaf.org" th:replace ="base::layout(~{::section})">
<head>
<meta charset= "UTF-8">
<title> This is home page</title>title>
</head>
<body>
<section class= "banner d-flex justify-content-center align-items-center">
	<div class="text-center"><h1>Reliable and trustworthy.</h1>
	<p>Start sending money online. We provide very efficient and secure way to handle payments. </p>
	<button class= "btn btn-primary btn-lg" onclick="location.href='http://localhost:8282/login'">Get Start</button>
	</div>
	
</section>
</body>
</html> 